:root {
  --slider-thumb-width: 42px;
  --slider-thumb-height: 24px;
  --slider-track-height: 12px;
  --slider-thumb-radius: 8px;
  --slider-thumb-border: 2px solid #888;
  --slider-thumb-bg: #fff;
  --slider-track-bg: #444;
  --slider-track-radius: 4px;
  --impact-green: #6aa84f;
  --impact-green-dark: #43523d;
  --impact-blue: #31354A;
  --background-color: #1f1f1f;
}

body {
  margin: 0;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 64px;
  box-sizing: border-box;
}

#game-container {
  position: absolute;
  display: block;
  border-radius: 16px;
  border: 8px solid var(--impact-green-dark);
  overflow: hidden;
}

#game-container canvas {
  position: absolute;
  left: 0;
  top: 0;

  image-rendering: pixelated;
  display: block;

  width: 100%;
  height: 100%;
}
